.competences {
    padding-top: 2.5rem;
}

.competences .wrap {
    position: relative;
}

.competences .formation p {
    color: #555;
    font-size: 1.2rem;
}

.competences .formation {
    position: relative;
}

.competences .skills {
    padding-bottom: 20px !important;
}

.competences .skills p {
    color: #333;
    font-size: 1.2rem;
    margin: 0.4rem 0;
    padding-left: 0.3rem;
    font-weight: bold;
}

.competences .skills h4 {
    color: #72BBFF;
    margin-bottom: 1.6rem;
    /* font-weight: normal; */
}

.competences h4 {
    color: #333;
    font-weight: bold;
}

.competences .recherche {
    padding-left: 1.5rem;
}

.competences .recherche p {
    font-size: 1.3rem;
    color: #333;
}

.competences .logo-samsung {
    max-width: 40%;
    height: auto;
    display: block;
    margin: auto;
}

@media screen and (min-width: 992px) {
    .competences .formation:after {
        content: "";
        position: absolute;
        background: #72BBFF;
        width: 2px;
        height: 75%;
        top: 50%;
        transform: translateY(-50%);
        right: 0.8rem;
    }

    .competences .recherche {
        margin-top: 4%;
    }
}

.competences .cards {
    background-color: white;
    border-radius: 6px;
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
}