.navbar-wrapper {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 2rem 0;
    font-size: 2.5rem;
    background-color: rgba(255, 255, 255, 0);
    transition: font-size 0.3s, padding 0.2s;
    height: 3.2rem;
}

.navbar-wrapper.navbar-small {
    /* background-color: rgb(255, 255, 255); */
    font-size: 1.2rem;
    padding: 0.6rem 0;
}

.nav-items {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: left 0.4s, transform 0.4s;
}

.nav-items.navbar-small {
    left: 30px;
    transform: translateX(0);
}

.nav-items ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style: none;
}

.nav-items li {
    display: inline-block;
    position: relative;
    /* cursor: pointer; */
}

.nav-items li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -7px;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    transition: background 0.2s ease 0s, bottom 0.3s ease 0s;
    width: 100%;
}

.nav-items li a:hover:after, .nav-items li a.selected:after {
    background: rgba(48, 48, 48, 0.397);
    bottom: -2px;
}

.nav-items li:not(:last-of-type) {
    margin-right: 80px;
    transition: margin-right 0.3s ease-in;
}

.nav-items li a{
    color: black;
}

.nav-items.navbar-small li:not(:last-of-type) {
    margin-right: 50px;
}