.navbar-wrapper {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 2rem 0;
    font-size: 2.7rem;
    background-color: rgb(255, 255, 255);
    transition: font-size 0.3s, padding 0.2s, height 0.3s;
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13); */
    height: 8rem;
}

.navbar-wrapper.navbar-small {
    height: 3.5rem;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.151); */
    font-size: 1.4rem;
    padding: 0.5rem 0 2.5rem 0;
    transition: font-size 0.3s, padding 0.2s, height 0.3s;
}

.nav-items {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: left 0.4s, transform 0.4s;
}

.nav-items.navbar-small {
    left: 30px;
    transform: translateX(0);
}

.nav-items ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style: none;
}

.nav-items li {
    display: inline-block;
    position: relative;
    /* cursor: pointer; */
}

.nav-items li a:after {
    /* background: none repeat scroll 0 0 transparent; */
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    /* background: #555; */
    transition: background 0.2s ease-out, height 0.3s, width 0.2s;
    width: 55%;
}

.nav-items li a:hover:after, .nav-items li a.selected:after {
    background: #72BBFF;
    width: 100%;
    bottom: -3px;
}

.nav-items li a.selected:after {
    height: 3px;
}

/* .nav-items li .accueil.selected:after {
    background: #72BBFF;
} */

/* .nav-items li .projets.selected:after {
    background: #CDCCFF;
}

.nav-items li .competences.selected:after {
    background: #BFE0FF;
}

.nav-items li .contact.selected:after {
    background: #FFE6D9;
} */


.nav-items li:not(:last-of-type) {
    margin-right: 90px;
    transition: margin-right 0.3s ease-in;
}

.nav-items li a{
    /* text-transform: uppercase; */
    color: #333;
}

.nav-items.navbar-small li a {
    color: #555;
}

.nav-items.navbar-small li:not(:last-of-type) {
    margin-right: 50px;
}