.project-card {
    /* border: solid 1px black; */
    border-radius: 0.8rem;
    background-color: rgba(255, 255, 255, 0);
    height: 96%;
    margin-top: 1.2rem;
    transition: transform 0.5s;
    /* transform: scale(0.9); */
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,.05), 0 16px 34px 0 rgba(0,0,0,.1); */
    /* box-shadow: 0px 5px 16px 10px rgba(0, 0, 0, 0.05), 0 10px 20px 0 rgba(0, 0, 0, 0.144); */
}

@media screen and (max-width: 640px) {
    .project-card {
        transform: scale(0.9);
    }
}

@media screen and (min-width: 640px) {
    
    .project-card:hover {
        z-index: 10;
        transform: scale(1.05);
    }
}

.project-card:hover .c {
    box-shadow: 5px 14px 16px 16px rgba(0, 0, 0, 0.031), 0 15px 20px 0 rgba(0, 0, 0, 0.061);
}

.project-card:hover .show-details i {
    animation: moveLeftRight 1.5s infinite linear;
}

@keyframes moveLeftRight {
    0% {
        left: 0px;
    }
    50% {
        left: 8px;
    }
    100% {
        left: 0px;
    }
}

.info-projets .row {
    padding-top: 2.5rem;
    margin-bottom: 0;
}

.info-projets p {
    /* color: #345670; */
    font-size: 1.2rem;
    color: #555;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.info-projets h4 span {
    position: relative;
    color: #333;
    font-weight: 600;
}

.swiper-pagination {
    /* position: relative !important; */
    bottom: 0px !important;
}

.swiper-container {
    height: 70vh;
    overflow: visible;
    /* padding: 12rem 0 4rem 0; */
}

.swiper-button-prev, .swiper-button-next {
    /* bottom: -10px !important; */
    color: black;
}

.swiper-button-next {
    position: relative;
    right: 0px !important;
    /* top: -40px; */
    /* transform: translateY(-200%); */
}

.swiper-button-prev {
    position: relative;
    left: -50px !important;
    /* right: 0px !important; */
}

.swiper-button-disabled {
    opacity: 0 !important;
}

.carousel-nav {
    position: absolute;
    top: -50px;
    right: 80px;
    display: flex;
}

.c {
    box-shadow: 0px 10px 16px 10px rgba(0, 0, 0, 0.06), 0 5px 10px 0 rgba(0, 0, 0, 0.085);
    border-radius: 6px;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: transform, opacity;
    transition: box-shadow 0.5s;
}

.c.front {
    background-color: #373699;
}

.c.back {
    z-index: 1;
}