.accueil.container h1{
    color: #72BBFF;
}

.accueil.container .main-frame {
    padding: 0 4vw;
    position: relative;
}

.accueil.container .socials {
    position: absolute;
    bottom: -3rem;
    left: 50%;
}

.accueil.container .bio {
    color: #555;
}