#section-1 {
  /* background-color: #72BBFF; */
  background-color: white;
  position: relative;
}

#section-2 {
  /* background-color: #7dc0ff;  */
  /* B3B3FF */
  background-color: #BFE0FF;

}

#section-3 {
  background-color: #FFE6D9;
}

#section-4 {
  background-color: #CDCCFF;
}

.section {
  height: 100vh;
}

#more {
  width: 35px;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

#more:hover {
  animation-play-state: paused;
}

@media (prefers-reduced-motion: no-preference) {
  #more {
    animation: moreUpDown infinite 2s ease-in-out;
  }
}

@keyframes moreUpDown {
  0% {
    bottom: 3.4rem;
  }
  30% {
    bottom: 2.5rem;
  }
  55%, 100% {
    bottom: 3.4rem;
  }
}