#section-1 {
  /* background-color: #72BBFF; */
  background-color: white;
}

#section-2 {
  /* background-color: #7dc0ff;  */
  /* B3B3FF
  BFE0FF
  e3f0fc
  */
  /* background-color: #ebf1ff; */
  background-color: #e8f4ff;
}

#section-3 {
  /* background-color: #e8f4ff; */
  background-color: #ebf0fd;
  /* FFE6D9 */
  /* BFD1FD */
  /* dde7ff */
  /* ebf0fd */

}

#section-4 {
  background-color: #ffffff;
}

#more {
  width: 35px;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

#more:hover {
  animation-play-state: paused;
}

@media (prefers-reduced-motion: no-preference) {
  #more {
    animation: moreUpDown infinite 2s ease-in-out;
  }
}

@keyframes moreUpDown {
  0% {
    bottom: 2.4rem;
  }
  30% {
    bottom: 1.5rem;
  }
  55%, 100% {
    bottom: 2.4rem;
  }
}